.nav-link {
  text-decoration: none;
  font-size: 24px;
  text-transform: uppercase;
  margin-right: 20px;
  padding-bottom: 19px;
  color: white;
}
.login-button{
  font-size: 24px;
  text-transform: uppercase;
  border-radius: 3px;
  color: #fff;
  border: 1px solid #fff;
  padding: 7px;
  cursor: pointer;
  &:hover {
    color: #1b4d3d;
    border: 1px solid #1b4d3d;
  }
}
.ant-switch-checked .ant-switch-inner {
  display: flex;
  align-items: center;
  justify-content: center;
}
